/nbproject/private/
/AccionSocialMed-war/nbproject/private/
/AccionSocialMed-ejb/nbproject/private/
/AccionSocialMed-ejb/build/
/AccionSocialMed-ejb/dist/
/AccionSocialMed-war/build/
/dist/
/build/
/AccionSocialMed-war/dist/
/Aegislash/nbproject/private/
/Aegislash/Aegislash-war/nbproject/private/
/Aegislash/Aegislash-ejb/nbproject/private/
/Aegislash/Aegislash-ejb/build/
/Aegislash/Aegislash-war/dist/
/Aegislash/Aegislash-war/build/
/Aegislash/Aegislash-ejb/dist/
/Aegislash/dist/
/Aegislash/build/