/nbproject/private/
/AccionSocialMed-war/nbproject/private/
/AccionSocialMed-ejb/nbproject/private/
/AccionSocialMed-ejb/build/
/AccionSocialMed-ejb/dist/
/AccionSocialMed-war/build/
/dist/
/build/
/AccionSocialMed-war/dist/